<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{{or site.url siteRootPath}}}"><img src="{{uiRootPath}}/img/quarkiverse_logo_horizontal_reverse.svg" alt="{{site.title}}" height="30"></a>
        <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      {{#if env.ALGOLIA_API_KEY}}
        <div class="navbar-item hide-for-print">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Learn</div>
            <div class="navbar-dropdown">
            <a class="navbar-item" href="http://quarkus.io/get-started">Get Started</a>
              <a class="navbar-item" href="http://quarkus.io/guides">Documentation</a>
              <a class="navbar-item" href="http://quarkus.io/qtips">
                "Q" Tip Videos
              </a>
              <a class="navbar-item" href="http://quarkus.io/books">Books</a>
            </div>
          </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Extensions</div>
            <div class="navbar-dropdown">
            <a class="navbar-item" href="https://quarkus.io/extensions">Browse Extensions</a>
                <a class="navbar-item" href="https://quarkus.io/faq/#what-is-a-quarkus-extension">Use Extensions</a>
                <a class="navbar-item" href="https://quarkus.io/guides/writing-extensions">
                  Create Extensions
                </a>
              <a class="navbar-item" href="https://hub.quarkiverse.io">
                Share Extensions
              </a>
            </div>
          </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://quarkusio.zulipchat.com">Chat</a>
            <a class="navbar-item" href="http://quarkus.io/support/">Support</a>
            <a class="navbar-item" href="http://quarkus.io/blog">Blog</a>
            <a class="navbar-item" href="http://quarkus.io/discussion">Discussion</a>
            <a class="navbar-item" href="http://quarkus.io/insights">Podcast</a>
            <a class="navbar-item" href="http://quarkus.io/events">Events</a>
            <a class="navbar-item" href="http://quarkus.io/newsletter">
              Newsletter
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
