<qs-form server="{{{env._SEARCH_SERVICE_HOST}}}"
         language="en"
         initial-timeout="1500"
         more-timeout="2500"
         min-chars="3"
         origin-filter="quarkiverse-hub"
>
  <div class="search">
    <input name="q" type="search" placeholder="Search by keyword" autocomplete="off">
  </div>
</qs-form>
