:root {
  /* colors */
  --color-white: #fff;
  --color-quarkus-blue: #4695eb;
  --color-dark-blue: #09131e;
  --color-dark-blue-alt: #0d1c2c;
  --color-dark-blue-1: #205894;
  --color-soft-yellow: #fde9bf;
  --color-orange: #e37b40;
  --color-light-blue: #e4edf7;
  --color-red: #ff004a;
  --color-dark-red: #c00;
  --color-cta-blue: #0b58ab;
  --color-grey-0: #efefef;
  --color-grey-1: #aaa;
  --color-grey-2: #555;
  --color-grey-3: #333;
  --color-grey-4: #222;
  --color-dark-grey: #4c4c4c;
  --color-light-grey: #dcdcdc;
  --color-black: #000;

  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-black);
  --body-font-family: "Open Sans", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-white);
  --panel-border-color: var(--color-grey-3);
  --scrollbar-track-color: var(--color-grey-2);
  --scrollbar-thumb-color: var(--color-grey-1);
  --scrollbar_hover-thumb-color: var(--color-grey-2);
  --color-link-dark-bg: #9bcafa;
  --color-link-light-bg: #1259a5;
  --color-link-hover: --red;
  --color-link-visited: #aa4494;
  --color-cta-hover: var(--color-link-hover);
  /* navbar */
  --navbar-background: var(--color-black);
  --navbar-font-color: var(--color-white);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-grey-3);
  --navbar-menu-font-color: var(--navbar-font-color);
  --navbar-menu_hover-background: var(--color-quarkus-blue);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-grey-1);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-black);
  --nav-muted-color: var(--color-grey-4);
  --nav-panel-divider-color: var(--color-grey-2);
  --nav-secondary-background: var(--color-grey-2);
  /* toolbar */
  --toolbar-background: var(--color-quarkus-blue);
  --toolbar-border-color: var(--toolbar-background);
  --toolbar-font-color: var(--color-white);
  --toolbar-muted-color: var(--color-grey-0);
  --page-version-menu-background: var(--color-quarkus-blue);
  --page-version-missing-font-color: var(--color-grey-0);
  /* admonitions */
  --caution-color: var(--color-orange);
  --caution-on-color: var(--color-white);
  --important-color: var(--color-dark-red);
  --important-on-color: var(--color-white);
  --note-color: var(--color-quarkus-blue);
  --note-on-color: var(--color-white);
  --tip-color: var(--color-dark-blue-1);
  --tip-on-color: var(--color-white);
  --warning-color: var(--color-red);
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-black);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-black);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #1259a5;
  --link_hover-font-color: var(--color-red);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-black);
  --abstract-font-color: var(--color-black);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-grey-3);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--color-grey-0);
  --code-font-color: var(--color-grey-4);
  --example-background: var(--color-white);
  --example-border-color: var(--color-grey-4);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-grey-1);
  --pre-background: var(--code-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-grey-3);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-grey-4);
  --quote-font-color: var(--color-grey-4);
  --quote-attribution-font-color: var(--color-grey-3);
  --sidebar-background: var(--color-grey-0);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-grey-1) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-black);
  --footer-font-color: var(--color-white);
  --footer-link-font-color: var(--color-white);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
