---
# GitHub Actions workflow for commits pushed to the antora theme repo

name: CI
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [18.16.0]
    steps:
      - name: Clone the repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run with CI
        run: npm ci

      # Build the Antora UI bundle for release.
      - name: Build bundle
        id: build_bundle
        run: gulp bundle

      # Build the Antora preview (ends up in ./public)
      - name: Build preview
        # Only support previews on PRs
        if: "github.event_name == 'pull_request'"
        id: build_preview
        run: gulp preview:build

      - name: Store PR id
        if: "github.event_name == 'pull_request'"
        run: echo ${{ github.event.number }} > ./public/pr-id.txt

      - name: Publishing directory for PR preview
        if: "github.event_name == 'pull_request'"
        uses: actions/upload-artifact@v2
        with:
          name: site
          path: ./public
          retention-days: 3

      - name: Publish bundle
        uses: ncipollo/release-action@v1
        # Only try and deploy on merged code
        if: "github.repository == 'quarkiverse/antora-ui-quarkiverse' && github.ref_name == 'main' && (github.event_name == 'push' || github.event_name == 'schedule')"
        with:
          artifacts: "./build/ui-bundle.zip"
          omitBody: true
          allowUpdates: true
          generateReleaseNotes: true
          makeLatest: true
          tag: "latest"
          name: "HEAD"
          replacesArtifacts: true
